ONTRACKCHAIN_PUBLIC_BASE_URL=https://ontrackchain-staging.onrender.com
KEYCLOAK_PUBLIC_URL=https://ontrackchain-auth-idp-staging.onrender.com

KEYCLOAK_ADMIN_PASSWORD=__FILL_RENDER_KEYCLOAK_ADMIN_PASSWORD__
KEYCLOAK_B2B_CLIENT_SECRET=__FILL_RENDER_KEYCLOAK_B2B_CLIENT_SECRET__

KEYCLOAK_SYSTEM_USER_PASSWORD=__FILL_RENDER_KEYCLOAK_SYSTEM_USER_PASSWORD__
KEYCLOAK_KMD_TESTER_PASSWORD=__FILL_RENDER_KEYCLOAK_KMD_TESTER_PASSWORD__
KEYCLOAK_JIBSO_ADMIN_PASSWORD=__FILL_RENDER_KEYCLOAK_JIBSO_ADMIN_PASSWORD__
KEYCLOAK_AUDITOR_PASSWORD=__FILL_RENDER_KEYCLOAK_AUDITOR_PASSWORD__
KEYCLOAK_ANALYST_PASSWORD=__FILL_RENDER_KEYCLOAK_ANALYST_PASSWORD__
KEYCLOAK_VIEWER_PASSWORD=__FILL_RENDER_KEYCLOAK_VIEWER_PASSWORD__
KEYCLOAK_SEM_ORG_PASSWORD=__FILL_RENDER_KEYCLOAK_SEM_ORG_PASSWORD__

JWT_HS256_SECRET=__FILL_RENDER_JWT_HS256_SECRET__
MFA_TOTP_SECRET=__FILL_RENDER_MFA_TOTP_SECRET__
GF_SECURITY_ADMIN_PASSWORD=__FILL_RENDER_GRAFANA_ADMIN_PASSWORD__
ALERTMANAGER_WEBHOOK_BEARER_TOKEN=__FILL_RENDER_ALERTMANAGER_WEBHOOK_BEARER_TOKEN__

INVESTIGATION_RPC_PRIMARY_URL=__FILL_RENDER_RPC_PRIMARY_URL__
INVESTIGATION_RPC_FALLBACK_URL=__FILL_RENDER_RPC_FALLBACK_URL__

COMPLIANCE_TRM_SCREENING_URL=__FILL_RENDER_TRM_SCREENING_URL__
COMPLIANCE_TRM_API_KEY=__FILL_RENDER_TRM_API_KEY__
COMPLIANCE_EU_SANCTIONS_SOURCE_URL=__FILL_RENDER_EU_SANCTIONS_SOURCE_URL__
OPENSANCTIONS_API_KEY=__FILL_RENDER_OPENSANCTIONS_API_KEY__
