COMPOSE_PROJECT_NAME=ontrackchain

POSTGRES_USER=ontrackchain
POSTGRES_PASSWORD=ontrackchain
POSTGRES_DB=ontrackchain
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_HOST_PORT=6379

COMPOSE_NETWORK_NAME=ontrackchain

PUBLIC_API_PORT=8000
INVESTIGATION_API_PORT=8001
COMPLIANCE_API_PORT=8002
MONITORING_API_PORT=8003
REPORT_API_PORT=8004
AUTH_SERVICE_PORT=9000

TRAEFIK_HTTP_PORT=8080
TRAEFIK_DASHBOARD_PORT=8081
KEYCLOAK_HTTP_PORT=8088
PROMETHEUS_PORT=9091
GRAFANA_PORT=3002
ALERTMANAGER_PORT=9093

APP_ENV=local
AUTH_MODE=dev
DEV_AUTH_ENABLED=true
NEXT_PUBLIC_AUTH_MODE=dev
NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_DEV_AUTH_ENABLED=true
OIDC_PROVIDER=keycloak
INTERNAL_API_BASE_URL=http://traefik
INTERNAL_AUTH_BASE_URL=http://auth-service:9000
INTERNAL_KEYCLOAK_BASE_URL=http://keycloak:8080
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
KEYCLOAK_PUBLIC_URL=http://auth.localhost:8080
KEYCLOAK_HOSTNAME=auth.localhost
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_REALM=ontrackchain
KEYCLOAK_B2B_CLIENT_SECRET=change-me-b2b-secret

JWT_ISSUER=ontrackchain
JWT_AUDIENCE=ontrackchain
JWT_HS256_SECRET=change-me
MFA_TOTP_SECRET=JBSWY3DPEHPK3PXP
MFA_TOTP_ISSUER=OnTrackChain
MFA_TOTP_ACCOUNT_NAME=local-admin@ontrackchain
MFA_TOTP_PERIOD_SECONDS=30
MFA_TOTP_DIGITS=6
MFA_TOTP_WINDOW=1
MFA_EXTERNAL_PROVIDER_HOMOLOGATED=false
OIDC_ISSUER_URL=http://auth.localhost:8080/realms/ontrackchain
OIDC_AUDIENCE=ontrackchain-api
OIDC_CLIENT_ID=ontrackchain-web
OIDC_JWKS_URL=http://keycloak:8080/realms/ontrackchain/protocol/openid-connect/certs
OIDC_AUTHORIZATION_URL=http://auth.localhost:8080/realms/ontrackchain/protocol/openid-connect/auth
OIDC_ORG_CLAIM=org
OIDC_PLAN_CLAIM=plan
OIDC_ROLE_CLAIM=otk_role

CREDIT_VALUE_BRL=1.0
INVESTIGATION_INTERNAL_METRICS_ENABLED=true
INVESTIGATION_WORKER_PROCESSING_SECONDS=2
INVESTIGATION_WORKER_LOCAL_CONCURRENCY=8
INVESTIGATION_WORKER_BASE_BACKOFF_SECONDS=5
INVESTIGATION_RPC_PROVIDER=evm_rpc
INVESTIGATION_RPC_ENABLED=false
INVESTIGATION_RPC_PRIMARY_URL=
INVESTIGATION_RPC_FALLBACK_URL=
INVESTIGATION_RPC_TIMEOUT_MS=1500
INVESTIGATION_RPC_MAX_RETRIES=1
INVESTIGATION_INTERNAL_WORKER_TOKEN=investigation-local-token
MONITORING_INTERNAL_METRICS_ENABLED=true
MONITORING_ALERTS_LAST_HOUR_WARN_THRESHOLD=5
MONITORING_CRITICAL_ALERTS_LAST_24H_CRITICAL_THRESHOLD=1
MONITORING_EXPIRED_QUOTES_WARN_THRESHOLD=10
MONITORING_OPEN_QUOTES_WARN_THRESHOLD=25
ALERTMANAGER_WEBHOOK_BEARER_TOKEN=alertmanager-local-token
COMPLIANCE_INTERNAL_METRICS_ENABLED=true
COMPLIANCE_QUEUED_CASES_WARN_THRESHOLD=5
COMPLIANCE_FAILED_LAST_24H_CRITICAL_THRESHOLD=1
COMPLIANCE_EXPIRED_QUOTES_WARN_THRESHOLD=10
COMPLIANCE_COMPLETED_WITHOUT_REPORT_WARN_THRESHOLD=3
COMPLIANCE_PROVIDER_DEGRADED_WARN_THRESHOLD=1
COMPLIANCE_RISK_PROVIDER=trm_labs
COMPLIANCE_TRM_ENABLED=false
COMPLIANCE_TRM_SCREENING_URL=
COMPLIANCE_TRM_API_KEY=
COMPLIANCE_TRM_API_KEY_HEADER=Authorization
COMPLIANCE_TRM_API_KEY_PREFIX=Bearer 
COMPLIANCE_TRM_TIMEOUT_MS=1500
COMPLIANCE_TRM_MAX_RETRIES=1
COMPLIANCE_OFAC_SDN_SOURCE_URL=
COMPLIANCE_EU_SANCTIONS_SOURCE_URL=
REPORT_INTERNAL_METRICS_ENABLED=true
REPORT_DOWNLOADS_LAST_24H_WARN_THRESHOLD=10
REPORT_PENDING_ONCHAIN_WARN_THRESHOLD=3
REPORT_LEGAL_DOWNLOAD_SECURITY_VIOLATION_THRESHOLD=1
REPORT_PERSISTED_WITHOUT_DOWNLOAD_WARN_THRESHOLD=3
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
GRAFANA_ANONYMOUS_ENABLED=false
GRAFANA_DISABLE_LOGIN_FORM=false
